@model Detail

<div class="col">
    <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
        </svg>

        <div class="card-body">
            <h3>@Model.detailName</h3>
            <p>Модель: @Model.model</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <p><a class="btn btn-sm btn-outline-secondary" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.detailId">Добавить в корзину</a></p>
                </div>
            </div>
        </div>
    </div>
</div>