
<h1 class="mx-5"> Все детали </h1>
@*<h2>@Model.currCategory</h2>*@
<div class="row mt-2 mb-2 mx-lg-5">
    @{
        foreach (Detail Detail in Model.allDetails)
        {
            @Html.Partial("AllDetails", Detail)
        }

    }
</div>

