
<h1> Все детали </h1>
<h2>@Model.currCategory</h2>
<div class="row mt-5 mb-2">
    @{
        foreach (Detail Detail in Model.allDetails)
        {
            @Html.Partial("AllDetails", Detail)
        }

    }
</div>

