    <div class="position-relative overflow-hidden p-3 p-md-5  text-center bg-light penny">
        <div class="col-lg-12 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal text-light">Русмет</h1>
            <p class="lead fw-normal text-light">Нет никого, кто любил бы боль саму по себе, кто искал бы её и кто хотел бы иметь её просто потому, что это боль..</p>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 align-content-center homeqwerty">
        <div class="col-lg-6 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden ">
            <div class="my-3 py-3">
                <h2 class="display-5">Детали</h2>
                <p class="lead">Комплекутующие поездов</p>
            </div>
            <div class="shadow-sm mx-auto bg-light" style="width: 80%; height: 300px;"></div>
            <a class="btn btn-outline-secondary m-4" asp-controller="Details" asp-action="List" >Перейти</a>
        </div>
        <div class="col-lg-6 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Металлолом</h2>
                <p class="lead">Скупка цветных металлов</p>
            </div>
            <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px;"></div>
            <a class="btn btn-outline-secondary m-4" href="#">Перейти</a>
        </div>
    </div>